<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FilmProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pu1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.pu1.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>com.pu1.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFilmServlet</display-name>
    <servlet-name>AddFilmServlet</servlet-name>
    <servlet-class>com.pu1.AddFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFilmServlet</servlet-name>
    <url-pattern>/AddFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFilmServlet1</display-name>
    <servlet-name>EditFilmServlet1</servlet-name>
    <servlet-class>com.pu1.EditFilmServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFilmServlet1</servlet-name>
    <url-pattern>/EditFilmServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReviewServlet</display-name>
    <servlet-name>AddReviewServlet</servlet-name>
    <servlet-class>com.pu1.AddReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReviewServlet</servlet-name>
    <url-pattern>/AddReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReviewServlet</display-name>
    <servlet-name>EditReviewServlet</servlet-name>
    <servlet-class>com.pu1.EditReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReviewServlet</servlet-name>
    <url-pattern>/EditReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.pu1.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>